
If you want to retrieve only specific columns from a MySQL table in Django, you can specify those columns in your queryset using the values() method. Here's how you can do it:

python
Copy code
# views.py

from django.shortcuts import render
from .models import Person

def show_person_names(request):
    person_names = Person.objects.values('name')  # Retrieve only the 'name' column
    return render(request, 'person_names.html', {'person_names': person_names})
In this example:

We use values('name') to specify that we only want to retrieve the 'name' column from the Person table.
The result is a queryset containing dictionaries with only the 'name' field.
Then, you can render this data in a template (person_names.html) using Django's template language:

html
Copy code
<!-- person_names.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Names</title>
</head>
<body>
    <h1>List of Person Names</h1>
    <ul>
        {% for person in person_names %}
            <li>{{ person.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>